version: "3.9"

services:
  auth-service:
    build: ./auth-service
    container_name: auth-service
    ports:
      - "9000:9000"
  
  catalog-service:
    build: ./catalog-service
    container_name: catalog-service
    ports:
      - "9001:9001"

  api-gateway:
    image: nginx:latest
    container_name: api-gateway
    volumes:
      - ./api-gateway/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "8080:80"
    depends_on:
      - auth-service
      - catalog-service
